/* Additional Formatting */
:root{scroll-behavior:smooth;}
body {font-family:Arial,Sans-Serif;padding:10px;text-align:center}
p{display:inline-block;line-height:1.5;max-width:500px}
div.container{text-align:center}
ul.mylist{display:inline-block;text-align:left;line-height:1.5}
a:link, a:visited{color:#0000ee;text-decoration:none}a:hover{color:#000000;text-decoration:underline}
.button:hover{background-color:#017D4F;}
/* --- */

.gray-text {
  display: block;
  margin: auto;
  font-style: italic;
  color: #9A9D9E;
}

.button {
  background-color: #04AA6D;
  border: none;
  padding: 15px 32px;
  color: white;
  display: block;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}
